* {
    box-sizing: border-box;
    font-family: 'Poppins', sans-serif;
    outline: 1px red solid;
}
:root {
    --gray-1: #333333;
    --gray-2: #4F4F4F;
    --gray-3: #828282;
    --gray-4: #BDBDBD;
    --gray-6: #F2F2F2;
    --blue: #2D9CDB;
    --green: #27AE60;
    --red: #EB5757;
    --yellow: #F2C94C;

    

    --footer: #100E1D;
    --white: #FFFFFF;
}

main{
    margin: auto;
    max-width: 1130px;
    padding: 1rem;
}
.top{
    margin:1rem 3rem;
    max-width: 400px;

}
.top p{
    
    text-align: start;
    color: var(--blue);
    font-size: small;
    margin: 0;
}
.top h1{
    color: var(--gray-1);
    font-size: larger;
}
.hero-img{
    text-align: center;
}
.hero-img img{
    
    width: 95%;
    border-radius: 18px;
}

.top-text p{
    color: var(--gray-2);
}
.button{
    margin-top: 2rem;
}
.button p{
    color: var(--gray-3);
    padding: 0.3rem;
}
.input{
    width: 90%;
    border-radius: 12px;
    display: flex;
    background-color:var(--gray-6);
    justify-content: space-between;
    padding: 0.2rem;

}
.input .email{
    background-color:var(--gray-6);
    border: none;
    border-radius: 12px;
    padding: 1rem;
}
.input .join{
    background: var(--blue);
    color: var(--white);
    border-radius: 12px;
    padding: 1rem 1.5rem;
    border: none;
}
.services{
   
    display: flex;
    flex-wrap:wrap ;
    
    
}
.service{
    /* padding: 1rem; */
    max-width: 341px;
    margin: 1rem 0.5rem 0rem 0.5rem;
}

.service-active{
    box-shadow: 0px 10px 30px rgba(51, 51, 51, 0.1);
    border-radius: 24px;
}
.icon .material-icons{
    border-radius:0.2rem;
    color: var(--white);
}

.pen{
    background-color: var(--blue);
}

.less{
    background-color: var(--green);
}
.list{
    background-color: var(--red);
}
.service button{
    border-radius: 12px;
    
}

button:active {
    position: relative;
    top: 1px;
    background-color: var(--blue);
    color: var(--white);
}

.app-container{
    display: grid;
    
}
.app-images{

    padding: 1rem;
    margin-bottom: 2rem;
}

.img-container img{
    max-width: 100%;
    height: auto;
    border-radius: 24px;
}
.app-images span{
    color: var(--gray-3);
    font-size: 0.8rem;
   
}
.app-images h4{
    margin: 0;
    color: var(--gray-1);
    font-size: 1.2rem;
    
}

.see-more{
    display: flex;
    margin: 1rem;
    color: var(--blue);
}
.see-more span{
    margin-right:0.3rem;
}

.team-img{
     display: grid;
     grid-template-columns: repeat(2, 1fr);
     /* grid-auto-rows: minmax(100px, auto); */
}

.team-img .img{
    max-width: 100%;
}
.img1{
    grid-column: 1 / 2;
    grid-row: 2/4;
   gap: 10px;
}

.img2{
    grid-column: 2/3;
    grid-row: 1/3;
}

.img3{
    grid-column: 2/3;
    grid-row: 3/5;
}